.body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

.navbar-logo{
    color: white;
    font-size: 1.5rem;
}

.navbar-link{
    margin-left: 1rem;
}
.navbar-links a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.navbar-links a:hover{
    background-color: #555;
    border-radius: 4px;
    
}